### **Importing Pandas**

In [2]:
import pandas as pd

### importing Bible data `web.csv`

In [22]:
df=pd.read_csv('web.csv',skiprows=5)
df["Book Name"].unique()

array(['Genesis', 'Exodus', 'Leviticus', 'Numbers', 'Deuteronomy',
       'Joshua', 'Judges', 'Ruth', '1 Samuel', '2 Samuel', '1 Kings',
       '2 Kings', '1 Chronicles', '2 Chronicles', 'Ezra', 'Nehemiah',
       'Esther', 'Job', 'Psalms', 'Proverbs', 'Ecclesiastes',
       'Song of Solomon', 'Isaiah', 'Jeremiah', 'Lamentations', 'Ezekiel',
       'Daniel', 'Hosea', 'Joel', 'Amos', 'Obadiah', 'Jonah', 'Micah',
       'Nahum', 'Habakkuk', 'Zephaniah', 'Haggai', 'Zechariah', 'Malachi',
       'Matthew', 'Mark', 'Luke', 'John', 'Acts', 'Romans',
       '1 Corinthians', '2 Corinthians', 'Galatians', 'Ephesians',
       'Philippians', 'Colossians', '1 Thessalonians', '2 Thessalonians',
       '1 Timothy', '2 Timothy', 'Titus', 'Philemon', 'Hebrews', 'James',
       '1 Peter', '2 Peter', '1 John', '2 John', '3 John', 'Jude',
       'Revelation'], dtype=object)

### Selecting only rows with Book Name "John"

In [21]:
john=df[df["Book Name"]=='John']
john

,Verse ID,Book Name,Book Number,Chapter,Verse,Text
26045,26046,John,43,1,1,"In the beginning was the Word, and the Word wa..."
26046,26047,John,43,1,2,The same was in the beginning with God.
26047,26048,John,43,1,3,All things were made through him. Without him ...
26048,26049,John,43,1,4,"In him was life, and the life was the light of..."
26049,26050,John,43,1,5,"The light shines in the darkness, and the dark..."
...,...,...,...,...,...,...
26919,26920,John,43,21,21,"Peter seeing him, said to Jesus, ""Lord, what a..."
26920,26921,John,43,21,22,"Jesus said to him, ""If I desire that he stay u..."
26921,26922,John,43,21,23,This saying therefore went out among the broth...
26922,26923,John,43,21,24,This is the disciple who testifies about these...
26923,26924,John,43,21,25,There are also many other things which Jesus d...

### sorting verses properly

In [24]:
john=john.sort_values(["Chapter","Verse"])
john

,Verse ID,Book Name,Book Number,Chapter,Verse,Text
26045,26046,John,43,1,1,"In the beginning was the Word, and the Word wa..."
26046,26047,John,43,1,2,The same was in the beginning with God.
26047,26048,John,43,1,3,All things were made through him. Without him ...
26048,26049,John,43,1,4,"In him was life, and the life was the light of..."
26049,26050,John,43,1,5,"The light shines in the darkness, and the dark..."
...,...,...,...,...,...,...
26919,26920,John,43,21,21,"Peter seeing him, said to Jesus, ""Lord, what a..."
26920,26921,John,43,21,22,"Jesus said to him, ""If I desire that he stay u..."
26921,26922,John,43,21,23,This saying therefore went out among the broth...
26922,26923,John,43,21,24,This is the disciple who testifies about these...
26923,26924,John,43,21,25,There are also many other things which Jesus d...

### Taking only the text column

In [31]:
verses=john["Text"].tolist()
print(verses[:10])

['In the beginning was the Word, and the Word was with God, and the Word was God.', 'The same was in the beginning with God.', 'All things were made through him. Without him was not anything made that has been made.', 'In him was life, and the life was the light of men.', "The light shines in the darkness, and the darkness hasn't overcome it.", 'There came a man, sent from God, whose name was John.', 'The same came as a witness, that he might testify about the light, that all might believe through him.', 'He was not the light, but was sent that he might testify about the light.', 'The true light that enlightens everyone was coming into the world.', "He was in the world, and the world was made through him, and the world didn't recognize him."]

### writing into en_clean.txt: one verse per line

In [32]:
with open("en_clean.txt","w",encoding="utf-8") as f:
    for verse in verses:
        f.write(verse.strip()+"\n")
print("Cleaned Up: Total Verse:",len(verses))

Cleaned Up: Total Verse: 879